.followers-bg {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn-close {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .followers-list::-webkit-scrollbar {
    width: 20px;
  }

  .followers-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    cursor: pointer;
  }

  .followers-list::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ff0063 0%, #ff9800 100%);
    border-radius: 10px;
    cursor: pointer;
  }

  .followers-list::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #ff0063 0%, #ff9800 100%);
  }

  .followers-list {
    padding: 20px;
    background-color: black;
    width: max-content;
    height: fit-content;
    max-height: 50vh;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    text-align: center;
    overflow: auto;

    ul {
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      li {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          h3 {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .followers-bg {
    height: 100vh;
    .followers-list {
      width: fit-content;

      ul {
        align-items: flex-start;
        li {
          a {
            h3 {
              display: initial;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  main {
    margin-top: 0;
    margin-left: 20%;
  }
}
