@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Parkinsans:wght@300..800&display=swap");

.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

.parkinsans {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }