* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Parkinsans", sans-serif;
}

a {
  all: unset;
  cursor: pointer;
  position: relative;
  display: block;
}

a.active {
  background: linear-gradient(90deg, #21ffb5 0%, #00aeef 100%);
  color: transparent;
  background-clip: text;
}

button {
  all: unset;
  font-family: "Parkinsans", sans-serif;
  transition: 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}

button:hover {
  transform: scale(1.05);
}

.btn-primary {
  background: linear-gradient(90deg, #21ffb5 0%, #00aeef 100%);
  color: black;
  i {
    color: black;
  }
}

.btn-secondary {
  background: linear-gradient(90deg, #ff0063 0%, #ff9800 100%);
  color: white;
  i {
    color: white;
  }
}

/* COMMON */

main {
  /* margin-left: 20%; */
  margin-top: 10vh;
  display: flex;
  justify-content: flex-start;
  position: relative;
  min-height: 90vh;
}

.user-avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;

  div {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px dotted white;
    animation: loader-animation 5s linear infinite forwards;
  }
}

.loader.active {
  display: flex;
}

.follow-suggestions-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.error-page {
  width: 100%;
  text-align: center;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  main {
    margin-top: 0;
    margin-left: 10%;
    height: fit-content;
  }
}

@media only screen and (min-width: 1280px) {
  main {
    margin-top: 0;
    margin-left: 20%;
  }
}
