header {
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0;
  height: 10%;
  width: 100vw;
  z-index: 100;
}

.navlink-list {
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .momento-icon {
    width: 50px;
  }

  #nav-user-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }

  i {
    font-size: 24px;
  }

  li {
    a,
    .btn-logout {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }

    * {
      margin: 0;
    }

    div:nth-of-type(1):not(.btn-logout) {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div:nth-of-type(2) {
      display: none;
    }
  }

  button {
    display: inline-block;
    width: 100px;
    text-align: center;
    border-radius: 12px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 10%;
    padding: 40px 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: none;
  }

  .navlink-list {
    height: initial;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
  }
}

@media only screen and (min-width: 1280px) {
  header {
    min-width: fit-content;
    width: 20%;
  }
  .navlink-list {
    li {
      width: 100%;
      justify-content: flex-start;
      div:nth-of-type(2) {
        display: initial;
      }
    }
  }
}
