.user-page {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.user-info {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  h1 {
    margin: 0;
  }
}

.user-info-image {
  /* width: 30%; */
  display: flex;
  justify-content: center;
  padding: 10px;
}

.user-info-details {
  /* width: 70%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;

  * {
    margin: 0;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    /* border: 1px solid white; */
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  .row-one {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .row-two {
    display: none;
  }

  .row-three {
    display: none;
  }
}

.btn-edit-profile {
  padding: 10px;
  border-radius: 12px;
}

.user-page .responsive-stats {
  width: 100%;
  ul {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    margin-bottom: 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media only screen and (min-width: 768px) {
  .user-page .responsive-stats {
    display: none;
  }

  .user-info {
    img {
      width: 180px;
      height: 180px;
    }
  }

  .user-info-details {
    gap: 20px;
    .row-two {
      display: initial;
    }
  
    .row-three {
      display: initial;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .user-posts {
    width: 60%;
  }
}
